<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<form action="#" th:action="@{saveUser}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <input type="submit" value="Add User">
</form>

</body>
</html>